body{
    background-color: rgb(191, 208, 220);
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

h1{
    padding-top: 50px;
    text-align: center;
    color : green;
}

ol{
    margin-top: 10%;
}

.container{
    padding: 2% 0;
    margin-left:10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    color: navy;
    border: solid 3px rgb(144, 160, 189);
}

.container:visited{
    color:black;
}

a {
    text-decoration-line: none;
    color:black;
}

a:hover {
    color: rgb(27, 66, 181);
    font-weight: bold;
}

h2{
    margin-top: 5%;
    font-weight: bold;
}

h2:hover {
    color: rgb(27, 72, 135);
    font-weight: bold;}

.content{
    border:3px solid black;
    padding: 3%;
    margin: 5%;
    text-align: center;
    width: 70%;
    position: absolute;
    left: 6%;
}

h3{
    font-size: 24px;
}

